<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iware.bridge.model.dao.user.UserRoleRelDao">

    <resultMap type="com.iware.bridge.model.entity.user.UserRoleRel" id="userRoleRelMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <sql id="Base_Column_List">
       id,
       user_id,
       role_id
    </sql>

    <!--保存 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.iware.bridge.model.entity.user.UserRoleRel">
        insert into tb_user_role_rel
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                user_id,
                role_id
            </trim>
        )
        values
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{userId},
                #{roleId}
            </trim>
        )
    </insert>

    <!-- 根据ID查询UserRoleRel -->
    <select id="findById" parameterType="Integer" resultMap="userRoleRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
            tb_user_role_rel
        WHERE id = #{id}
    </select>

    <!--修改 -->
    <update id="update" parameterType="com.iware.bridge.model.entity.user.UserRoleRel">
        UPDATE
            tb_user_role_rel
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId}
                </if>
            </trim>
        </set>
        WHERE
            id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <select id="deleteById" parameterType="Integer">
        DELETE
        FROM
            tb_user_role_rel
        WHERE id = #{id}
    </select>

    <!--批量保存 -->
    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        insert into tb_user_role_rel
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                user_id,
                role_id
            </trim>
        ) values
        <foreach collection="list" item="it" separator=",">
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{it.userId},
                #{it.roleId}
            </trim>
        )
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE
        FROM
            tb_user_role_rel
        WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据所有 -->
    <select id="findAll" resultMap="userRoleRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_user_role_rel
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件查询UserRoleRel -->
    <select id="query" parameterType="com.iware.bridge.model.entity.user.UserRoleRel" resultMap="userRoleRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_user_role_rel
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
        </where>
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件模糊查询UserRoleRel -->
    <select id="queryByLike" parameterType="com.iware.bridge.model.entity.user.UserRoleRel" resultMap="userRoleRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_user_role_rel
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
        </where>
        ORDER BY
            id DESC
    </select>
</mapper>
