/.metadata/

# IDEA
.idea/
*.iws
*.iml

/.settings/
/.project
/bridge-permission/target/
/bridge-permission/.project
/bridge-permission/.settings/
/bridge-permission/.classpath
/bridge-cache/target/
/bridge-cache/.project
/bridge-cache/.settings/
/bridge-cache/.classpath
/bridge-common/target/
/bridge-common/.project
/bridge-common/.settings/
/bridge-common/.classpath
/bridge-db-script/target/
/bridge-db-script/.project
/bridge-db-script/.settings/
/bridge-db-script/.classpath
/bridge-model/target/
/bridge-model/.project
/bridge-model/.settings/
/bridge-model/.classpath
/bridge-web/target/
/bridge-web/.project
/bridge-web/.settings/
/bridge-web/.classpath
/bridge-ui/node_modules/
