<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iware.bridge.model.dao.inspection.DiseaseInstanceOptionRelDao">

    <resultMap type="com.iware.bridge.model.entity.inspection.DiseaseInstanceOptionRel" id="diseaseInstanceOptionRelMap">
        <result property="id" column="id"/>
        <result property="inspectionDiseaseInstanceId" column="inspection_disease_instance_id"/>
        <result property="inspectionDiseaseOptionId" column="inspection_disease_option_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
       inspection_disease_instance_id,
       inspection_disease_option_id
    </sql>

    <!--保存 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.iware.bridge.model.entity.inspection.DiseaseInstanceOptionRel">
        insert into tb_disease_instance_option_rel
        (
        <trim prefix="" suffix="" suffixOverrides=",">
            inspection_disease_instance_id,
            inspection_disease_option_id
        </trim>
        )
        values
        (
        <trim prefix="" suffix="" suffixOverrides=",">
            #{inspectionDiseaseInstanceId},
            #{inspectionDiseaseOptionId}
        </trim>
        )
    </insert>

    <!-- 根据ID查询DiseaseInstanceOptionRel -->
    <select id="findById" parameterType="Integer" resultMap="diseaseInstanceOptionRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_disease_instance_option_rel
        WHERE id = #{id}
    </select>

    <!--修改 -->
    <update id="update" parameterType="com.iware.bridge.model.entity.inspection.DiseaseInstanceOptionRel">
        UPDATE
        tb_disease_instance_option_rel
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="inspectionDiseaseInstanceId != null">
                    inspection_disease_instance_id = #{inspectionDiseaseInstanceId},
                </if>
                <if test="inspectionDiseaseOptionId != null">
                    inspection_disease_option_id = #{inspectionDiseaseOptionId}
                </if>
            </trim>
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <select id="deleteById" parameterType="Integer">
        DELETE
        FROM
            tb_disease_instance_option_rel
        WHERE id = #{id}
    </select>

    <!--批量保存 -->
    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        insert into tb_disease_instance_option_rel
        (
        <trim prefix="" suffix="" suffixOverrides=",">
            inspection_disease_instance_id,
            inspection_disease_option_id
        </trim>
        ) values
        <foreach collection="list" item="it" separator=",">
            (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{it.inspectionDiseaseInstanceId},
                #{it.inspectionDiseaseOptionId}
            </trim>
            )
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE
        FROM
        tb_disease_instance_option_rel
        WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据所有 -->
    <select id="findAll" resultMap="diseaseInstanceOptionRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_disease_instance_option_rel
        ORDER BY
        id DESC
    </select>

    <!-- 根据条件查询DiseaseInstanceOptionRel -->
    <select id="query" parameterType="com.iware.bridge.model.entity.inspection.DiseaseInstanceOptionRel" resultMap="diseaseInstanceOptionRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_disease_instance_option_rel
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="inspectionDiseaseInstanceId != null">
                AND inspection_disease_instance_id = #{inspectionDiseaseInstanceId}
            </if>
            <if test="inspectionDiseaseOptionId != null">
                AND inspection_disease_option_id = #{inspectionDiseaseOptionId}
            </if>
        </where>
        ORDER BY
        id DESC
    </select>

    <!-- 根据条件模糊查询DiseaseInstanceOptionRel -->
    <select id="queryByLike" parameterType="com.iware.bridge.model.entity.inspection.DiseaseInstanceOptionRel" resultMap="diseaseInstanceOptionRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_disease_instance_option_rel
        <where>
            <if test="inspectionDiseaseInstanceId != null">
                AND inspection_disease_instance_id = #{inspectionDiseaseInstanceId}
            </if>
            <if test="inspectionDiseaseOptionId != null">
                AND inspection_disease_option_id = #{inspectionDiseaseOptionId}
            </if>
        </where>
        ORDER BY
        id DESC
    </select>
</mapper>