<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iware.bridge.model.dao.global.ProjectStructureRelDao">

    <resultMap type="com.iware.bridge.model.entity.global.ProjectStructureRel" id="projectStructureRelMap">
        <result property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="structureId" column="structure_id"/>
    </resultMap>

    <sql id="Base_Column_List">
       id,
       project_id,
       structure_id
    </sql>

    <!--保存 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.iware.bridge.model.entity.global.ProjectStructureRel">
        insert into tb_project_structure_rel
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                project_id,
                structure_id
            </trim>
        )
        values
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{projectId},
                #{structureId}
            </trim>
        )
    </insert>

    <!-- 根据ID查询ProjectStructureRel -->
    <select id="findById" parameterType="Integer" resultMap="projectStructureRelMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
            tb_project_structure_rel
        WHERE id = #{id}
    </select>

    <!--修改 -->
    <update id="update" parameterType="com.iware.bridge.model.entity.global.ProjectStructureRel">
        UPDATE
            tb_project_structure_rel
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="projectId != null">
                    project_id = #{projectId},
                </if>
                <if test="structureId != null">
                    structure_id = #{structureId}
                </if>
            </trim>
        </set>
        WHERE
            id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <select id="deleteById" parameterType="Integer">
        DELETE
        FROM
            tb_project_structure_rel
        WHERE id = #{id}
    </select>

    <!--批量保存 -->
    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        insert into tb_project_structure_rel
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                project_id,
                structure_id
            </trim>
        ) values
        <foreach collection="list" item="it" separator=",">
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{it.projectId},
                #{it.structureId}
            </trim>
        )
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE
        FROM
            tb_project_structure_rel
        WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据所有 -->
    <select id="findAll" resultMap="projectStructureRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_project_structure_rel
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件查询ProjectStructureRel -->
    <select id="query" parameterType="com.iware.bridge.model.entity.global.ProjectStructureRel" resultMap="projectStructureRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_project_structure_rel
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
            <if test="structureId != null">
                AND structure_id = #{structureId}
            </if>
        </where>
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件模糊查询ProjectStructureRel -->
    <select id="queryByLike" parameterType="com.iware.bridge.model.entity.global.ProjectStructureRel" resultMap="projectStructureRelMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_project_structure_rel
        <where>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
            <if test="structureId != null">
                AND structure_id = #{structureId}
            </if>
        </where>
        ORDER BY
            id DESC
    </select>
</mapper>
