<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iware.bridge.model.dao.online.CompanyDao">

    <resultMap type="com.iware.bridge.model.entity.online.Company" id="companyMap">
        <result property="id" column="id"/>
        <result property="company" column="company"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="Base_Column_List">
       id,
       company,
       remarks
    </sql>

    <!--保存 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.iware.bridge.model.entity.online.Company">
        insert into tb_company
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                company,
                remarks
            </trim>
        )
        values
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{company},
                #{remarks}
            </trim>
        )
    </insert>

    <!-- 根据ID查询Company -->
    <select id="findById" parameterType="Integer" resultMap="companyMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
            tb_company
        WHERE id = #{id}
    </select>

    <!--修改 -->
    <update id="update" parameterType="com.iware.bridge.model.entity.online.Company">
        UPDATE
            tb_company
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="company != null and company != ''">
                    conpany = #{conpany},
                </if>
                <if test="remarks != null and remarks != ''">
                    remarks = #{remarks}
                </if>
            </trim>
        </set>
        WHERE
            id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <select id="deleteById" parameterType="Integer">
        DELETE
        FROM
            tb_company
        WHERE id = #{id}
    </select>

    <!--批量保存 -->
    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        insert into tb_company
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                company,
                remarks
            </trim>
        ) values
        <foreach collection="list" item="it" separator=",">
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{it.company},
                #{it.remarks}
            </trim>
        )
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE
        FROM
            tb_company
        WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据所有 -->
    <select id="findAll" resultMap="companyMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_company
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件查询Company -->
    <select id="query" parameterType="com.iware.bridge.model.entity.online.Company" resultMap="companyMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_company
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="company != null and company != ''">
                AND company = #{company}
            </if>
            <if test="remarks != null and remarks != ''">
                AND remarks = #{remarks}
            </if>
        </where>
        ORDER BY
            id DESC
    </select>

    <!-- 根据条件模糊查询Company -->
    <select id="queryByLike" parameterType="com.iware.bridge.model.entity.online.Company" resultMap="companyMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_company
        <where>
            <if test="company != null and company != ''">
                AND company LIKE CONCAT ('%', #{company}, '%')
            </if>
            <if test="remarks != null and remarks != ''">
                AND remarks LIKE CONCAT ('%', #{remarks}, '%')
            </if>
        </where>
        ORDER BY
            id DESC
    </select>
</mapper>
