<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iware.bridge.model.dao.online.SensorConvergeDao">

    <resultMap type="com.iware.bridge.model.entity.online.SensorConverge" id="sensorConvergeMap">
        <result property="structureId" column="structure_id"/>
        <result property="sensorId" column="sensor_id"/>
        <result property="samplingTime" column="sampling_time"/>
        <result property="value" column="value"/>
        <result property="sensorCoding" column="sensor_coding"/>
        <result property="sensorDetailsId" column="sensor_details_id"/>
    </resultMap>

    <sql id="Base_Column_List">
       structure_id,
       sensor_id,
       sampling_time,
       value,
       sensor_coding,
       sensor_details_id
    </sql>

    <!--保存 -->
    <insert id="save" parameterType="com.iware.bridge.model.entity.online.SensorConverge">
        insert into tb_sensor_converge
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                structure_id,
                sensor_id,
                sampling_time,
                value,
                sensor_coding,
                sensor_details_id,
            </trim>
        )
        values
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{structureId},
                #{sensorId},
                #{samplingTime},
                #{value},
                #{sensorCoding},
                #{sensorDetailsId},
            </trim>
        )
    </insert>

    <!--批量保存 -->
    <insert id="batchSave" parameterType="java.util.List">
        insert into tb_sensor_converge
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                structure_id,
                sensor_id,
                sampling_time,
                value,
                sensor_coding,
                sensor_details_id,
            </trim>
        ) values
        <foreach collection="list" item="it" separator=",">
        (
            <trim prefix="" suffix="" suffixOverrides=",">
                #{it.structureId},
                #{it.sensorId},
                #{it.samplingTime},
                #{it.value},
                #{it.sensorCoding},
                #{it.sensorDetailsId},
            </trim>
        )
        </foreach>
    </insert>

    <!-- 根据所有 -->
    <select id="findAll" resultMap="sensorConvergeMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_sensor_converge
        ORDER BY sampling_time DESC
    </select>

    <!-- 根据条件查询SensorConverge -->
    <select id="query" parameterType="com.iware.bridge.model.entity.online.SensorConverge" resultMap="sensorConvergeMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_sensor_converge
        <where>
            <if test="structureId != null">
                AND structure_id = #{structureId}
            </if>
            <if test="sensorId != null">
                AND sensor_id = #{sensorId}
            </if>
            <if test="samplingTime != null">
                AND sampling_time = #{samplingTime}
            </if>
            <if test="value != null">
                AND value = #{value}
            </if>
            <if test="sensorCoding != null and sensorCoding != ''">
                AND sensor_coding = #{sensorCoding}
            </if>
            <if test="sensorDetailsId != null">
                AND sensor_details_id = #{sensorDetailsId}
            </if>
        </where>
        ORDER BY
            sampling_time DESC
    </select>

    <!-- 根据条件模糊查询SensorConverge -->
    <select id="queryByLike" parameterType="com.iware.bridge.model.entity.online.SensorConverge" resultMap="sensorConvergeMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            tb_sensor_converge
        <where>
            <if test="structureId != null">
                AND structure_id = #{structureId}
            </if>
            <if test="sensorId != null">
                AND sensor_id = #{sensorId}
            </if>
            <if test="samplingTime != null">
                AND sampling_time LIKE CONCAT ('%', #{samplingTime}, '%')
            </if>
            <if test="value != null">
                AND value = #{value}
            </if>
            <if test="sensorCoding != null and sensorCoding != ''">
                AND sensor_coding LIKE CONCAT ('%', #{sensorCoding}, '%')
            </if>
            <if test="sensorDetailsId != null">
                AND sensor_details_id = #{sensorDetailsId}
            </if>
        </where>
        ORDER BY
            sampling_time DESC
    </select>
</mapper>
