@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
* {
  box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
}

.loading-page {
	position: absolute;
	opacity: 0.5;
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  text-shadow: .2rem 0rem .4rem red,-.2rem 0rem .4rem red,0rem .2rem .4rem red,0rem -.2rem .4rem red;
  /* color: #ff4500; */
}
.loading-page .counter h1 {
  color: white;

  /* text-shadow: .2rem 0rem .4rem blue,-.2rem 0rem .4rem blue,0rem .2rem .4rem blue,0rem -.2rem .4rem blue; */
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}

.dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  background: #ff4500;
  border-radius: 50%;
  margin: 4px;
  -webkit-animation-name: scaleUp;
          animation-name: scaleUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.dot:nth-of-type(1n) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.dot:nth-of-type(2n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dot:nth-of-type(3n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.dot:nth-of-type(4n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dot:nth-of-type(5n) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dot:nth-of-type(6n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dot:nth-of-type(7n) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.dot:nth-of-type(8n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dot:nth-of-type(9n) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.dot:nth-of-type(10n) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}